<html>
    <head>
        <title>{{title}}</title>
        <link type="text/css" rel="stylesheet" media="all" href="stylesheets/{{css}}" />
    </head>
    <body>
        <form action="/register" method="post">
            <label for="new_title">username</label>
            <input type="text" name="username" id="new_title" />
            <br />
            <label for="new_password">password</label>
            <input type="password" name="password" id="new_password" />
            <br />
            <input type="submit" value="Register" />
        </form>
    </body>
</html>